<div class="container">
    <div class="row">
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Application Test 1</h5>
                <p class="card-text">Dados dos parametros de entrada</p>
                <p class="card-text">parametro 1: Latitud</p>
                <p class="card-text">parametro 2: Longitud</p>
                <p class="card-text">Recuperar el pronóstico de clima de dicha locación por las siguientes seis horas
                    mostrando
                    el resultado por hora</p>
                <p class="card-text">Como referencia, se pueden usar los API de https://openweathermap.org/ o algún otro
                    que
                    otorgue dicha información.</p>
                <p class="card-text">En caso de presentarse alguna excepción que impida mostrar la información, deberá
                    mostrarse
                    un mensaje de error lo más descriptivo posible (Service not found, Timeout, etc)</p>
            </div>
        </div>
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Application Test 2</h5>
                <p class="card-text">Dados dos parámetros de entrada</p>
                <p class="card-text">parametro 1: fecha inicio</p>
                <p class="card-text">parametro 2: fecha fin</p>
                <p class="card-text">El programa debe regresar la cantidad de dias en el que el dia “Domingo” es el
                    último
                    día
                    del mes en ese lapso.</p>
                <p class="card-text">La salida debe ser el número de días</p>
            </div>
        </div>
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Application Test 3</h5>
                <p class="card-text">Dados dos parámetros de entrada</p>
                <p class="card-text">parametro 1: año inicio</p>
                <p class="card-text">parametro 2: ano fin</p>
                <p class="card-text">El programa debe regresar un arreglo con los años que fueron bisiestos La salida
                    debe
                    ser
                    una cadena con los años separados por el caracter "@"</p>
            </div>
        </div>
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Application test 4</h5>
                <p class="card-text">Dados los parámetros de entrada:</p>
                <p class="card-text">n (int) = tamaño de la matriz(nxn)</p>
                <p class="card-text">rotaciones[int] = un arreglo que contenga una sucesión de rotaciones representadas
                    por
                    números, los
                    números positivos son rotaciones a la derecha y los números negativos son rotaciones a la izquierda
                    (0 representa ningún movimiento).
                </p>
                <p class="card-text">coordenada [x, y] = La coordenada del número de la salida.</p>
                <p class="card-text">Se genera una matriz “n”x”n” y se llena con números comenzando por el 1 en la celda
                    0,0
                    y
                    aumentando en 1 consecuentemente en cada celda de la matriz, aplicar las rotaciones necesarias y
                    posterior a
                    la
                    rotaciones a la matriz y dada la coordenada[x,y] se tiene que regresar el número de esa celda.</p>
                <p class="card-text">La salida será el número contenido en la coordenada indicada.</p>
            </div>
        </div>
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Application test 5</h5>
                <p class="card-text">Dado los parámetros de entrada:</p>
                <p class="card-text">s (String) = Un texto de n caracteres (Lorem ipmsum...)</p>
                <p class="card-text">Obtener el número de veces que se repite cada letra de la cadena</p>
                <p class="card-text">La salida será una lista indicando el carácter con el número de veces encontrada en
                    la
                    cadena (a =
                    15, b = 6, c...)</p>
            </div>
        </div>
        <div class="card w-50" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"> Application test 6 (Opcional, Bonus)</h5>
                <p class="card-text">Si se inicia en la esquina superior izquierda de un grid de 2x2, y las únicos
                    posibles
                    movimientos
                    son “derecha” y “abajo”. Existen exactamente 6 rutas para llegar a la esquina inferior derecha,
                    ejemplo:</p>
                <p class="card-text">Dado los parámetros de entrada:</p>
                <p class="card-text">n(int) = tamaño del grid (nxn)</p>
                <p class="card-text">El programa deberá regresar el número de rutas posibles para el grid de tamaño n.
                </p>
            </div>
        </div>
    </div>
</div>